.gallery-wrapper{
}

.gallery{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	padding: 0;
	margin: 0;
}

.gallery-item{
	position: relative;
	border:1px solid;
	width:100%;
	height: 300px;
	flex: 1 1 400px;
}

.gallery-item--unready{
}

/* .gallery-img-block{
	position: relative;
	width: 400px;
	height: 300px; 
	border:1px solid;
	overflow: hidden;
	margin: 0;
	margin-bottom: 10px;
	
	flex:1 1 300px;

	display: flex;
	flex-flow: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;

	user-select: none;
	cursor: pointer;
}
 */
.gallery-img-block__img{
	/* width: 100%;
	height: 100% */;
	max-width:400px;
	max-height: 300px;
	opacity: 1;
	transition: .5s;
}
.gallery-img-block__img--hidden{
	opacity: 0.2;
}

.gallery-img-block__unready-img{
	position: absolute;
	width: 150px;
	height: 150px;
	background: url('../images/loading.gif') no-repeat;
	background-size: 100%;
	flex: 0 0 ;
	opacity: 0;
	transition: .5s;
}

.gallery-item--unready .gallery-img-block__unready-img{
	opacity: 1;
}

.gallery-item__title{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: white;
	text-align: center;
	border-top: 1px solid;
	opacity: 0;
}
