html, body {
	padding: 0;
	margin: 0;
	width:100%;
	position: relative;
}
body{
	max-width: 960px;
	display: block;
	margin: auto;
}

header, footer{
	width:100%;
	border-top:1px solid;
	text-align: center;
	height: 100px;
	line-height:100px;
	letter-spacing: 10px;
}

header{
	user-select: none;
	color:black;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

header span{
	display: inline-block;
	opacity: 0;
	max-width:0;
	color:black;
	margin-right: 15px;
	animation: showFullHeaderSpan 1.8s 1s forwards;
}
@keyframes showFullHeaderSpan{
	from{
		max-width: 0px;
		opacity: 0;
	}

	to{
		opacity: 1;
		max-width: 100px;
	}
}


footer{
}


.nav{
	width:100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	border: 1px solid;
	box-sizing: border-box;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	cursor: pointer;
}
.nav__item{
	display:inline-block;
	margin: 0;
	padding: 0;
	min-width:250px;
	line-height:40px;
	/* border:1px solid; */
	border-left: none;
	box-sizing: border-box;
	flex: 1 1 250px;
	transition: .5s;
	position: relative;
}
.nav__item:first-child{
	/* border-left: 1px solid; */
}
.nav__item:hover{
	background: rgba(67, 99, 10, 0.3)
}

.nav-nav{
	list-style-type: none;
	position: absolute;
	top:0px;
	left:0px;
	padding: 0;
	width:100%;
	height: 0px;
	line-height: 40px;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	transition: .7s .4s linear;
	/* border:1px solid; */
	/* border: 1px solid; */
	border-top: none; 
	background: lightgrey;
	box-sizing: border-box; 
}
.nav__item:hover .nav-nav{
	height: 40px;
	transition: .7s;
}

.nav-nav__item{
	flex:1 1 25%;
	position: relative;
	/* color: black;
	background: white; */
	overflow: hidden;
}

.nav-nav__item:hover{
	/* background: lightgrey; */
}

.content{
	padding-bottom: 140px;
}